.places h1{
    font-size: 30px;
}

.container .places div{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(390px,1fr));
    gap: 50px;
    margin: 20px;
    padding:20px;
}
.container .places article{
    border:1px solid #FF5A5F  ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    font-size: 18px;
}

